/* Variables */

/* Colors */
$primary: #ff4b3e;
$primary-bg: #858799;

/* Font */
$main-fs: 1.5rem;
$md-fs: $main-fs * 1.5;
$lg-fs: $md-fs * 1.5;
$font: "Poppins", sans-serif;

/* Spacers */
$spacer-small: 1rem;
$spacer: $spacer-small * 2;
$spacer-md: $spacer * 2;
$spacer-lg: $spacer-md * 2;
$spacer-xlg: $spacer-lg * 2;
